parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	router: App\Router\RouterFactory::createRouter
	- App\Config(%wwwDir%, @httpRequest::getUrl()::getBasePath())
	- App\UserAgentModel('user_agents',%wwwDir%, ...)
	- App\UrlsModel('urls', ...)
	- App\BaseUrlsModel('base_urls', ...)
	- App\ProductModel('products', ...)
	- App\ExportXLS(...)